html{
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  /* background:#728EB2; */
  overflow: hidden;
  height: calc(100% - 20px);
  padding-bottom: 20px;
}

#offscreen {
  visibility: hidden;
}

.container {
  position: relative;
  height: 100%;
  flex: auto;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px #556677 solid;
  border-radius: 8px;
  overflow: scroll;
  /* background-color: #eff2f7; */
}

#text {
  width: calc(100% - 8px);
  height: 14px;
  /* border: 2px gray solid; */
  font: 12px courier;
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
}

#top-spacer {
  /* background-color: lightblue; */
  height: calc(50% - 10px);
  /* border: lightpink 1px solid; */
}

#bottom-spacer {
  /* background-color: lightblue; */
  height: calc(50% - 10px);
  /* border: lightpink 1px solid; */
}

.bar {
  position: absolute;
  opacity: 0.0;
  width: 100%;
  height: 14px;
  background-color: blue;
  top: 238px;
  z-index: 100;
  pointer-events: none;
}
