
html {
  height: 100%;
  /* font-family: 'Crimson Text', serif; */
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  align-items: center;
  background: #fffaf4;
  overflow: hidden;
  height: calc(100% - 20px);
  padding-bottom: 20px;
}

#offscreen {
  visibility: hidden;
  left: -999em;
}

.container {
  position: relative;
  height: 100%;
  flex: auto;
  padding-left: 10%;
  padding-right: 30%;
  overflow: scroll;
}

#text {
  font-family: 'Times New Roman', serif;
  width: calc(100% - 8px);
  height: 14px;
  font: 12px courier;
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: transparent;
  line-height: 1.45;
  /* color: #0c1e3a; */
  transition: height 0.2s ease 0s;
  /* background-color: aliceblue; */
}

.top-spacer {
  /* background-color: lightblue; */
  height: calc(40% - 10px);
  /* border: lightpink 1px solid; */
}

.bottom-spacer {
  /* background-color: lightblue; */
  height: calc(60% - 10px);
  /* border: lightpink 1px solid; */
}
